:root{
  --font-color:#353535;
  --ai-post-bg:rgba(255,255,255,0.32);
  --ai-border:1px solid #e3e8f7bd;
  --ai-tag-bg:rgba(48, 52, 63, 0.86);
}
[data-theme=dark] {
  --font-color:rgba(255,255,255,0.86);
  --ai-post-bg:rgba(48, 52, 63, 0.35);
  --ai-border:1px solid #3d3d3f;
  --ai-tag-bg:#30343f;
}
.post-ai{
  background: var(--ai-post-bg);
  border-radius: 12px;
  padding: 12px 16px;
  line-height: 1.3;
  border: var(--ai-border);
  margin-top: 10px;
  margin-bottom: 6px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.ai-title{
  display: flex;
  color: var(--font-color);
  border-radius: 8px;
  align-items: center;
  padding: 0 5px;
}
.ai-title i{
  font-weight: 800;
}
.ai-title-text{
  font-weight: bold;
  margin-left: 8px;
}
.ai-tag{
  font-size: 12px;
  background-color: var(--ai-tag-bg);
  color: rgba(255,255,255,0.9);
  border-radius: 4px;
  margin-left: auto;
  line-height: 1;
  padding: 4px 5px;
  border: var(--ai-border);
}
.ai-explanation{
  margin-top: 11px;
  font-size: 15.5px;
  line-height: 1.4;
}
.ai-cursor{
  display: inline-block;
  width: 7px;
  background: #333;
  height: 16px;
  margin-bottom: -2px;
  opacity: 0.95;
  margin-left: 3px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
[data-theme=dark]
.ai-cursor{
  background: rgb(255, 255, 255, 0.9);
}
.ai-btn-box{
  font-size: 15.5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.ai-btn-item{
  padding: 5px 10px;
  margin: 10px 16px 0px 5px;
  width: fit-content;
  line-height: 1;
  background: rgba(48, 52, 63, 0.75);
  border: var(--ai-border);
  color: #fff;
  border-radius: 6px 6px 6px 0;
  -webkit-border-radius: 6px 6px 6px 0;
  -moz-border-radius: 6px 6px 6px 0;
  -ms-border-radius: 6px 6px 6px 0;
  -o-border-radius: 6px 6px 6px 0;
  user-select: none;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.ai-btn-item:hover{
  background: #49b0f5dc;
}
.ai-recommend{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.ai-recommend-item{
  width: 50%;
  margin-top: 2px;
}
.ai-recommend-item a{
  border-bottom: 2px solid #4c98f7;
  padding: 0 .2em;
  color: #4c98f7;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.ai-recommend-item a:hover{
  background-color: #49b1f5;
  border-bottom: 2px solid #49b1f5;
  color: #fff;
  border-radius: 5px;
}